# Токен бота от @BotFather
BOT_TOKEN=8597492926:AAFhTIL9rn60JCkJlJUb_qaMGpjVReFtwQo

# Канал для индексации (без @)
CHANNEL_USERNAME=testtgcourse

# Telethon (для индексирования через user-аккаунт): https://my.telegram.org
API_ID=27035051
API_HASH=3a827404a017aa4073bf5aeba311b78c

# PostgreSQL с pgvector (локально через docker-compose)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tgbot

# ruCLIP модель (по умолчанию vit-base-patch32-224)
RUCLIP_MODEL=ruclip-vit-base-patch32-224

# Сколько результатов искать в БД (для пагинации)
SEARCH_LIMIT=5
